.application {
    position: absolute;
    height: 100%;
    width: 100%;
}

.application .application__users .panel__header {
    background: #428bca;
    color: white;
}

.application .application__dates {
    display: flex;
}

.application .application__date-from, .application .application__date-to {
    flex: 1;
}

.application .application__panel {
    margin: 0 10px;
    height: 100%;
}